---
layout: layouts/home.njk
permalink: /blog/
eleventyNavigation:
  key: Blog
  order: 2
---
<div class="container mt-5 maxheight">
  <h1 class="display-4 mb-5">Blog</h1>

  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>



