---
layout: layouts/home.njk
permalink: /blog/
eleventyNavigation:
  key: Blog
  order: 2
---
<div class="container mt-5 text-center">
  <h1 class="display-4 mb-5">Blog</h1>
</div>
<div class="container text-center">
  <div class="row gap-2 justify-content-center">
      {% set postslist = collections.posts %}
      {% include "postslist.njk" %}
  </div>
</div>



