---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-1 mb-5">Brody Mileham</h1>
        <p class="lead text-muted">I am a highly self motivated and career driven individual, looking for a career change and striving for an opportunity into the IT Industry. I am naturally a great problem solver, creative thinker and fast learner. I am determined to develop my skills and understanding further into front and back end technologies and all aspects of the industry.</p>
        </p>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="https://cdn.pixabay.com/photo/2017/01/29/13/20/laptop-2017978_1280.png" alt="" class="img-fluid"></div>
    </div>
  </div>
</div>
