---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

{% set postslist = collections.posts | head(-1) %}




<section class="main mt-5">
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-6 mt-5">
        <h3>
          <small>Hello, I'm</small><br>
        Brody
        </h3>
        <h6 class="text-muted">Front End Web Developer</h6>
        <div class="buttons">
          <button type="button" class="btn btn-block btn-outline-secondary mt-5"><a href="{{ postslist[0].url | safe }}">Latest Post</a></button>
          <button type="button" class="btn btn-block btn-outline-secondary mt-5"><a href="https://brodymileham.github.io/">Links Page</a></button>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="hero"></div>
      </div>
    </div>
  </div>
</section>


