---
layout: layouts/base.njk
title: Projects
permalink: /projects/
eleventyNavigation:
  key: Projects
  order: 3
---

<div class="container text-center min-vh-100 mt-5">
    <div class="row">
    <div class="col-md-6 justify-content-center">
      <div class="card m-1">
  <img class="card-img-top" src="/img/thecodersguild.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">The Coders Guild</h5>
    <p class="card-text">Projects completed from my tasks with The Coders Guild</p>
    <a href="/projects/tcg/index.html" class="btn btn-dark text-light">View Projects</a>
  </div>
</div>
    </div>
    <div class="col-md-6 justify-content-center">
      <div class="card m-1">
  <img class="card-img-top" src="/img/personalprojects.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Personal Projects</h5>
    <p class="card-text">Projects I've worked on in my free time</p>
    <a href="/projects/personal/index.html" class="btn btn-dark text-light">View Projects</a>
  </div>
</div>
    </div>
  </div>
</div>
