<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}"> {#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
    {#- <meta name="generator" content="{{ eleventy.generator }}"> #} <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-diff.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous">
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/84d0ba085d.js" crossorigin="anonymous"></script>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light px-0 py-3">
        <div
          class="container-xl max-w-screen-xl">
          <!-- Logo -->
          <a class="navbar-brand" href="{{ '/' | url }}">
            <i class="fa-solid fa-blog fa-lg"></i>
          </a>
          <!-- Navbar toggle -->
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Collapse -->
          <div
            class="collapse navbar-collapse" id="navbarCollapse">
            <!-- Nav -->
            <div class="navbar-nav mx-lg-auto">
              {%- for entry in collections.all | eleventyNavigation %}
                <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">
                  <a class="nav-link" href="{{ entry.url | url }}">{{ entry.title }}</a>
                </li>
              {%- endfor %}
            </div>
            <!-- Right navigation -->
            <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
              <a href="https://www.brodymileham.com/admin" class="btn btn-sm btn-light w-full w-lg-auto">
                Admin
              </a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main {% if templateClass %} class="{{ templateClass }}" {% endif %}>
      {{ content | safe }}
    </main>
    <footer
      class="bg-dark text-center text-white">
      <!-- Grid container -->
      <div
        class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section
          class="mb-4">
          <!-- Linkedin -->
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="https://www.linkedin.com/in/brody-mileham-6b7b3b154/"
            role="button">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <!-- Github -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/brodymileham" role="button">
            <i class="fab fa-github"></i>
          </a>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright |
        <a class="text-white" href="/">Brody Mileham</a>
      </div>
      <!-- Copyright -->
    </footer>
    
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>