---
layout: layouts/base.njk
templateClass: tmpl-post
---

<div class="container mt-5">
  <div class="row justify-content-md-center">
    <div class="col-lg-8">
      <h1 class="display-4 mb-3">{{ title }}</h1>
      {# {%- for tag in tags | filterTagList %}
      {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
      {%- endfor %} #}
      {{ content | safe }}
      {%- if collections.posts %}
        {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
        {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
        {%- if nextPost or previousPost %}
          <hr>
            <ul>
              {%- if nextPost %}
                <li>Next:
                  <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a>
                </li>
              {% endif %}
              {%- if previousPost %}
                <li>Previous:
                  <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a>
                </li>
              {% endif %}
            </ul>
          {%- endif %}
        {%- endif %}
        <p>
          <span style="font-weight: bold;">
            Lesson Rating:</span>
          {{ rating }}
        </p>
        <p class="mb-3">
          <a href="{{ '/blog' | url }}">All Posts</a>
        </p>
      </div>
    </div>
  </div>